<div class="d-flex justify-content-center mt-4 px-4">
  <table class="table table-hover align-middle mb-0">
    <thead class="bg-light">
      <tr>
        <th *ngFor="let column of displayedColumns">{{ column }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let user of users">
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <ng-container *ngIf="user.username">
                <app-user-avatar [name]="user.username"></app-user-avatar>
              </ng-container>              <div class="ms-3">
                <p class="fw-bold mb-1">{{ user.username }}</p>
              </div>
            </div>
          </td>
          <td>
            <p class="text-muted mb-0">{{ user.tokens }}</p>
          </td>
          <td>
            {{ user.threshold }}
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
