nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  align-items: center;
  background-color: rgb(53, 102, 102);
  font-family: "Montserrat", sans-serif;
  width: 100%;
  z-index: 9999;
}

.heading {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.username {
  position: absolute;
  top: 1;
  right: 0;
  padding: 1rem;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 576px) {
  .username {
    position: static;
    padding: 0.5rem;
    background-color: transparent;
  }

  .nav-links li:not(:last-child) {
    display: none;
  }

  .nav-links li:nth-last-child(2) {
    display: block;
  }

  .nav-links li:last-child {
    margin-left: auto;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .username {
    position: absolute;
    top: 1;
    right: 0;
    padding: 0.75rem;
  }

  .nav-links li:not(:last-child) {
    display: none;
  }

  .nav-links li:last-child {
    margin-left: auto;
  }
}

@media (min-width: 769px) {
  .username {
    position: absolute;
    top: 1;
    right: 0;
    padding: 1rem;
  }
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  padding: 14px 16px;
  cursor: pointer;
}

.nav-links a:hover:not(.active) {
  background-color: rgb(19, 94, 90);
}

.nav-links li a.active {
  background-color: rgb(0, 61, 61);
}

.nav-links li a:hover {
  background-color: rgb(19, 94, 90);
}

@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 61, 61);
    font-family: "Montserrat", sans-serif;
  }
  .heading {
    color: white;
    text-transform: uppercase;
    font-size: 40px;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
    padding: 14px 16px;
    cursor: pointer;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
  }
}
