<main class="maincontainer">
  <div class="nav">
    <div class="content">
      <h1 class="brand">logo</h1>

      <div class="links nav-items">
        <a [routerLink]="['/app/home']">Home</a>
        <a [routerLink]="['/app/ranking']">Ranking</a>
        <a *appHasPermission="[ERole.Admin]" [routerLink]="['/app/quests']">Quests</a>
        <a (click)="logout()">Logout</a>
        <div class="username">{{ username }}</div>

      </div>
      <div class="menu" (click)="onMenu()">
        <input type="checkbox" hidden id="hamburger" />
        <label for="hamburger" [hidden]="isOpen">&#9776;</label>
        <label for="hamburger" [hidden]="!isOpen">&#10006;</label>
      </div>
      <div class="dropdown" id="dropdown" [class.show]="isOpen">
        <a>Example</a>
        <a>Example</a>
        <a>Example</a>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  <!-- <footer class="footer">
    <div class="container">
     <div class="row">
       <div class="footer-col">
         <h4>company</h4>
         <ul>
           <li><a href="#">about us</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>get help</h4>
         <ul>
           <li><a href="#">FAQ</a></li>
           <li><a href="#">shipping</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>online shop</h4>
         <ul>
           <li><a href="#">watch</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>follow us</h4>
         <div class="social-links">
           <a href="#"><i class="fab fa-facebook-f"></i></a>
           <a href="#"><i class="fab fa-twitter"></i></a>
           <a href="#"><i class="fab fa-instagram"></i></a>
           <a href="#"><i class="fab fa-linkedin-in"></i></a>
         </div>
       </div>
     </div>
    </div>
 </footer> -->
</main>
