h1 {
  padding: 0 1rem;
}

.primary {
  background-color: black;
}

h2 {
  padding: 1rem;
}
.username {
  margin-right: 10px;
}

.spacer {
  flex: 1;
}

.nav-link {
  cursor: pointer;
}

.logout-link {
  margin-left: auto;
}

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }

  .entry {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
  }
}

.expanded {
  width: 250px;
}

mat-sidenav-content {
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content {
  flex: 1;
  overflow: hidden;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav-content {
  height: 100%;
  overflow: auto;
}

.footer {
  background: #6670a9;
  color: white;
  padding: 0.2rem;
  text-align: center;
}
