<div class="container aa">
  <div class="submain">
    <div>
      <div class="imgs">
        <div class="container-image">
          <img
            src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
            alt="profile"
            class="profile"
          />
        </div>
      </div>
      <form (ngSubmit)="onSubmit()">
        <div>
          <input
            placeholder="{{ 'login.usernamePlaceholder' | translate }}"
            class="name"
            type="text"
            id="name"
            name="name"
            required
            minlength="4"
            [(ngModel)]="username"
            #name="ngModel"
          />
        </div>
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
          <div *ngIf="name.errors?.['required']">{{ 'login.usernameRequired' | translate }}</div>
          <div *ngIf="name.errors?.['minlength']">{{ 'login.usernameMinLength' | translate }}</div>
        </div>
        <div class="second-input">
          <input
            placeholder="{{ 'login.passwordPlaceholder' | translate }}"
            class="name"
            type="password"
            id="password"
            name="password"
            required
            minlength="4"
            [(ngModel)]="password"
            #name1="ngModel"
          />
        </div>
        <div *ngIf="name1.invalid && (name1.dirty || name1.touched)" class="alert">
          <div *ngIf="name1.errors?.['required']">{{ 'login.passwordRequired' | translate }}</div>
          <div *ngIf="name1.errors?.['minlength']">{{ 'login.passwordMinLength' | translate }}</div>
        </div>
        <div *ngIf="isLoading" class="spinner-overlay">
          <mat-spinner class="spinner"></mat-spinner>
        </div>
        <div *ngIf="loginFailed" class="alert">
          {{ 'login.invalidCredentials' | translate }}
        </div>
        <div class="groupsubmit">
          <button color="primary" mat-raised-button type="submit" [disabled]="!name1.valid || !name.valid">
            {{ 'login.loginButton' | translate }}
          </button>
        </div>
        <div class="register">
          <a href="/auth/register">{{ 'login.goToRegister' | translate }}</a>
        </div>
      </form>
    </div>
  </div>
</div>
