<div class="main-container" *ngIf="questionList.length > 0">
  <ng-container *ngIf="!showResults; else resultSection">
    <p class="question-counter">
      {{ currentQuestionIndex + 1 }}/{{ questionList.length }}
    </p>
    <h2 class="container">{{ currentQuestion?.questionText }}</h2>

    <mat-chip-listbox
      class="mat-mdc-chip-set-stacked"
      aria-label="Answer selection"
    >
      <mat-chip-option
        *ngFor="let answer of currentQuestion?.answers; let i = index"
        color="accent"
        [selected]="isSelected(i)"
        (click)="toggleAnswerSelection(i)"
        [disabled]="answersSubmitted"
        [class.matching-response]="isMatchingResponse(answer)"
      >
        {{ answer }}
      </mat-chip-option>
    </mat-chip-listbox>

    <div class="button-group">
      <button
        class="button-submit"
        mat-raised-button
        color="primary"
        (click)="submitAnswers()"
      >
        Submit
      </button>
      <button mat-raised-button color="primary" (click)="nextQuestion()">
        Next
      </button>
    </div>
  </ng-container>

  <ng-template #resultSection>
    <div *ngFor="let result of results; let i = index">
      <h3>{{ i + 1 }}. {{ questionList[i].questionText }}</h3>
      <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Result">
        <mat-chip-option
          *ngFor="let answer of questionList[i].answers; let j = index"
          color="accent"
          [selected]="isSelected(j)"
          [disabled]="true"
          [ngStyle]="{
            background: isCorrectAnswer(i, j)
              ? 'green'
              : isSelected(j)
              ? 'blue'
              : 'transparent'
          }"
        >
          {{ answer }}
          <span *ngIf="isSelected(j)">
            <mat-icon *ngIf="isCorrectAnswer(i, j)">check_circle</mat-icon>
            <mat-icon *ngIf="!isCorrectAnswer(i, j)">cancel</mat-icon>
          </span>
        </mat-chip-option>
      </mat-chip-listbox>
      <div class="button-close">
        <p *ngIf="results[i]; else wrongAnswer">
          <mat-icon>check_circle</mat-icon>
        </p>
        <ng-template #wrongAnswer>
          <p><mat-icon>cancel</mat-icon></p>
        </ng-template>
      </div>
    </div>

    <div class="button-close">
      All questions answered!
      <button mat-raised-button color="primary" (click)="closeModal()">
        Close
      </button>
    </div>
  </ng-template>
</div>
