.main-container {
  max-width: 500px; 
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  max-height: 80vh;
  overflow-y: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.question-counter {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  font-size: 12px;
  border-radius: 1px; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.button-close {
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.container {
  text-align: center;
  margin-bottom: 20px; 
  margin-top: 3rem;
}

.answers {
  margin-left: 20px;
}

.button-group {
  text-align: center;
  display: flex;
  margin-top: 3rem;
  margin-left: 2rem
}

.button-submit{
  margin-right: 2rem;
}

.button-close {
  margin-top: 20px;
}

.matching-response {
  background: linear-gradient(to right, blue 50%, blue 50%);
}

.chatgpt-checkbox {
  color: blue;
  border-color: blue;
}

.loading-text {
  text-align: center;
}

.completed-message {
  text-align: center; 
  font-weight: bold;
}
