.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-actions {
  justify-content: center;
}

.mat-dialog-content {
  padding: 24px;
}

.mat-dialog-actions {
  padding: 8px 24px 24px;
}
