<div class="container aa">
  <div class="submain">
    <div>
      <div class="imgs">
        <div class="container-image">
          <img
            src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
            alt="profile"
            class="profile"
          />
        </div>
      </div>
      <form (ngSubmit)="onSubmit()">
        <div>
          <input
            placeholder="{{ 'register.emailPlaceholder' | translate }}"
            type="text"
            class="email"
            name="email"
            [(ngModel)]="email"
            #email1="ngModel"
            required
            minlength="4"
          />
        </div>
        <div
          *ngIf="email1.invalid && (email1.dirty || email1.touched)"
          class="alert1"
        >
          <div *ngIf="email1.errors?.['required']">
            {{ "register.emailRequired" | translate }}
          </div>
          <div *ngIf="email1.errors?.['minlength']">
            {{ "register.emailMinLength" | translate }}
          </div>
        </div>
        <div>
          <input
            placeholder="{{ 'register.usernamePlaceholder' | translate }}"
            class="username"
            type="text"
            id="name"
            name="name"
            required
            minlength="4"
            [(ngModel)]="username"
            #name="ngModel"
          />
        </div>
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
          <div *ngIf="name.errors?.['required']">
            {{ "register.usernameRequired" | translate }}
          </div>
          <div *ngIf="name.errors?.['minlength']">
            {{ "register.usernameMinLength" | translate }}
          </div>
        </div>
        <div class="second-input">
          <input
            placeholder="{{ 'register.passwordPlaceholder' | translate }}"
            class="name"
            type="password"
            id="password"
            name="password"
            required
            minlength="4"
            [(ngModel)]="password"
            #name1="ngModel"
          />
        </div>
        <div
          *ngIf="name1.invalid && (name1.dirty || name1.touched)"
          class="alert"
        >
          <div *ngIf="name1.errors?.['required']">
            {{ "register.passwordRequired" | translate }}
          </div>
          <div *ngIf="name1.errors?.['minlength']">
            {{ "register.passwordMinLength" | translate }}
          </div>
        </div>
        <div class="groupsubmit">
          <button
            type="submit"
            color="primary"
            mat-raised-button
            [disabled]="!name1.valid || !name.valid || !email1.valid"
          >
            {{ "register.registerButton" | translate }}
          </button>
        </div>

        <div class="register">
          <a href="/auth/login">{{ "register.goToLogin" | translate }}</a>
        </div>
      </form>
    </div>
  </div>
</div>
