<main style="background-image: url('https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830026.jpg?w=2000');  background-repeat: no-repeat;
background-size: cover; height: 100%;
">
<div class="container">
  <div class="text">
    <h1>Create a new quest</h1>
    <p class="createnew">Fill in the form below to create a new quest.</p>
    <p class="createnew">
      You can create a quest only if you have enough tokens and badges to
      celebrate winners.
    </p>
  </div>
  <form [formGroup]="questForm" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Answer</mat-label>
      <input
        matInput
        placeholder="Type here"
        type="text"
        id="answer"
        formControlName="answer"
        required
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <input
        matInput
        placeholder="Type here"
        id="description"
        type="text"
        formControlName="description"
        required
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Quest Reward Tokens</mat-label>
      <input
        matInput
        placeholder="Type here"
        type="number"
        id="rewardTokens"
        formControlName="rewardTokens"
        required
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Difficulty</mat-label>
      <input
        matInput
        placeholder="Type here"
        type="text"
        id="Difficulty"
        formControlName="difficulty"
        required
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Threshold</mat-label>
      <input
        matInput
        placeholder="Type here"
        type="number"
        id="threshold"
        formControlName="threshold"
        required
      />
    </mat-form-field>

    <button
      type="submit"
      class="create-quest-button"
      mat-raised-button
      color="primary"
      (click)="onCreateQuestSubmit()"
    >
      Create Quest
    </button>
  </form>
</div>
</main>