.styled-table {
  padding: 3%;
  padding-bottom: 0;
}

.table-container {
  height: 600px;
  overflow: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 8px;
}

.larger-content {
  width: 500px;
}

.demo-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #ddd;
}

.demo-table th,
.demo-table td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

.demo-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.demo-table tr {
  border-top: 1px solid #ddd;
}

.demo-table tr:first-child {
  border-top: none;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}
