<main >
  <div class="wrapper">
    <div class="sidebar">
      <h2>Your Statistics</h2>
      <table>
        <tr>
          <td>Tokens</td>
          <td>{{ tokens }}</td>
        </tr>
        <tr>
          <td>Badges</td>
          <td>
            <ul>
              <li *ngFor="let badge of badgeList">
                {{ badge && badge?.name ? badge.name : "" }}
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Threshold</td>
          <td>{{ thresholdUser }}</td>
        </tr>
      </table>
      <ul *ngIf="barBadge && barBadge.length > 0">
        <li *ngIf="thresholdUser < 30">
          <h2>Badge Progress {{ barBadge[0].name }}</h2>
        </li>
        <li *ngIf="thresholdUser >= 30 && thresholdUser < 70">
          <h2>Badge Progress {{ barBadge[1].name }}</h2>
        </li>
        <li *ngIf="thresholdUser >= 70">
          <h2>Badge Progress {{ barBadge[2].name }}</h2>
        </li>
      </ul>
      <mat-progress-bar
        mode="determinate"
        value="{{ thresholdUser }}"
      ></mat-progress-bar>
    </div>
    <!-- <section class="hero">
      <h1>Culture Challenge App</h1>
      <p>Get rewarded for your done quests and progress towards your goals!</p>
    </section> -->
  </div>
  <app-questlist></app-questlist>
  <!-- <div class="container">
    <h1>General Culture Quiz</h1>
    <p>Welcome to our quiz! Answer the following questions to earn tokens.</p>
    <table>
      <thead>
        <tr>
          <th>Question</th>
          <th>Tokens Earned</th>
          <th>Difficulty</th>
          <th>Threshold</th>
          <th>Answer</th>
          <th>Submit answer</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let quest of questList">
          <td>{{ quest.description }}</td>
          <td>{{ quest.questRewardTokens }}</td>
          <td>{{ quest.difficulty }}</td>
          <td>{{ quest.threshold }}</td>
          <td>
            <input
              placeholder="Type your answer here"
              class="name"
              type="text"
              id="name"
              name="name"
              #answer1
            />
            <span
              class="good"
              *ngIf="
                checkAnswer(answer1.value, quest.answer ? quest.answer : '')
              "
            >
              Congratulations, you answered correctly!
              <button
                class="reward"
                *ngIf="!quest.rewarded"
                (click)="resolveQuest(quest.id, userId)"
              >
                Get reward
              </button>
            </span>
            <span
              class="wrong"
              *ngIf="
                !checkAnswer(answer1.value, quest.answer ? quest.answer : '') &&
                answer1.value
              "
            >
              Incorrect answer!
            </span>
          </td>
          <td>
            <button
              [disabled]="quest.rewarded"
              class="submitanswer"
              (click)="
                checkAnswer(answer1.value, quest.answer ? quest.answer : '')
              "
            >
              Submit
            </button>
          </td>
        </tr>
      </tbody>
    </table> -->
  <!-- </div> -->

    <!-- <div>
      <h1>Create a new quest</h1>
      <p>Fill in the form below to create a new quest.</p>
      <p>
        You can create a quest only if you have enough tokens and badges to
        celebrate winners.
      </p>
    </div>
    <form
      (ngSubmit)="
        onCreateQuestSubmit(
          answer,
          description,
          questRewardTokens,
          difficulty,
          threshold
        )
      "
    >
      <div>
        <label for="answer">Answer:</label>
        <input
          placeholder="Type here"
          type="text"
          id="answer"
          name="answer"
          [(ngModel)]="answer"
          required
        />
      </div>
      <div>
        <label for="description">Description:</label>
        <input
          placeholder="Type here"
          id="description"
          name="description"
          [(ngModel)]="description"
          required
        />
      </div>
      <div>
        <label for="questRewardTokens">Quest Reward Tokens:</label>
        <input
          placeholder="Type here"
          type="number"
          id="questRewardTokens"
          name="questRewardTokens"
          [(ngModel)]="questRewardTokens"
          required
        />
      </div>
      <div>
        <label for="badges">Difficulty:</label>
        <input
          placeholder="Type here"
          type="text"
          id="badges"
          name="badges"
          [(ngModel)]="difficulty"
          required
        />
      </div>
      <div>
        <label for="Threshold">Threshold:</label>
        <input
          placeholder="Type here"
          type="text"
          id="Threshold"
          name="Threshold"
          [(ngModel)]="threshold"
          required
        />
      </div>
      <button class="create-quest-button">Create Quest</button>
    </form>
  </div> -->
</main>
