<div class="container">
  <div class="text">
    <h1>Create a new quest</h1>
    <p class="createnew">Fill in the form below to create a new quest.</p>
    <p class="createnew">
      You can create a quest only if you have enough tokens to celebrate
      winners.
    </p>
    <p class="createnew"></p>
  </div>
  <form
    [formGroup]="questForm"
    class="example-form"
    (ngSubmit)="onCreateQuestionSubmit()"
  >
    <div style="display: flex; justify-content: center; flex-direction: column">
      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <input
          matInput
          placeholder="Type here"
          type="text"
          id="questionText"
          formControlName="questionText"
          required
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>First Answer</mat-label>
        <input
          matInput
          placeholder="Type here"
          id="answer1"
          type="text"
          formControlName="answer1"
          required
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Second Answer</mat-label>
        <input
          matInput
          placeholder="Type here"
          type="text"
          id="answer2"
          formControlName="answer2"
          required
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Third Answer</mat-label>
        <input
          matInput
          placeholder="Type here"
          type="text"
          id="answer3"
          formControlName="answer3"
          required
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Difficulty</mat-label>
        <mat-select formControlName="difficulty" required>
          <mat-option value="Easy">Easy</mat-option>
          <mat-option value="Medium">Medium</mat-option>
          <mat-option value="Hard">Hard</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Correct Answer</mat-label>
        <input
          matInput
          placeholder="Type here"
          type="text"
          id="correctAnswer"
          formControlName="correctAnswer"
          required
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Reward tokens</mat-label>
        <input
          matInput
          placeholder="Type here"
          type="number"
          id="rewardTokens"
          formControlName="rewardTokens"
          required
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Threshold</mat-label>
        <input
          matInput
          placeholder="Type here"
          type="number"
          id="threshold"
          formControlName="threshold"
          required
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Category</mat-label>
        <input
          matInput
          placeholder="Type here"
          type="text"
          id="category"
          formControlName="category"
          required
          [(ngModel)]="categoryValue"

          (mouseover)="onMouseOverCategory()"
          [formControl]="questForm.get('category')?.getRawValue()" 

          />
      </mat-form-field>
      <div
        [class.good]="message === 'Quest created successfully'"
        [class.bad]="message !== 'Quest created successfully'"
      >
        {{ message }}
      </div>
    </div>
  </form>
  <div class="button-container">
    <button
      type="submit"
      class="create-quest-button"
      mat-raised-button
      color="primary"
      (click)="onCreateQuestionSubmit()"
    >
      Create Quest
    </button>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      (click)="closeModal()"
    >
      Close
    </button>
  </div>
</div>
