.full-screen-card {
  flex: 1; /* Allow cards to take equal space */
  height: 80vh; /* Set a fixed height for consistency */
  overflow: auto; /* Enable scrolling */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 0; /* No border radius */
}

.card-content {
  padding: 0;
  height: 100%; /* Ensure the card content takes full height */
}

.card-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.history-list {
  flex: 1; /* Allow the list to take remaining space */
  overflow: auto; /* Enable scrolling within the list */
}

.history-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.question-details {
  margin-bottom: 10px;
}

.correct-answer {
  color: green;
}

.incorrect-answer {
  color: red;
}

.chart-section {
  flex: 1; /* Allow chart section to take equal space */
  display: flex;
  justify-content: center; /* Center align the chart inside the chart-section */
  align-items: center; /* Align items in the center vertically */
}

#chart {
  width: 100%; /* Ensure the chart takes full width */
  max-width: 600px; /* Limit the max width of the chart */
}

.checkmark-container {
  display: flex;
  align-items: center; /* Center items vertically */
}

.checkmark-image {
  width: 24px; /* Adjust as needed */
  height: 24px; /* Adjust as needed */
  margin-right: 5px; /* Space between image and text */
}
