<div style="padding: 4rem; display: flex; gap: 2rem">
  <!-- Tests History -->
  <mat-card class="full-screen-card">
    <mat-card-header>
      <mat-card-title>Tests History</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <div class="card-container">
        <div class="history-list">
          <div *ngFor="let test of testsHistory" class="history-item">
            <div class="test-details">
              <p>
                <strong>Test Date:</strong>
                {{ test.testDate | date: 'yyyy-MM-dd HH:mm:ss' }}
              </p>
              <div class="test-info">
                <p><strong>Category:</strong> {{ test.category.name }}</p>
                <p>
                  <strong>Number of questions:</strong>
                  {{ test.questionsAnswered }}
                </p>
                <p>
                  <strong>User Correct Answers:</strong>
                  {{ test.userCorrectAnswers }}
                </p>
                <p>
                  <strong>ChatGPT Correct Answers:</strong>
                  {{ test.chatGptCorrectAnswers }}
                </p>
              </div>
              <div class="checkmark-container" *ngIf="test.userCorrectAnswers === test.chatGptCorrectAnswers">
                <img src="../../../assets/medal.png" alt="Medal" class="checkmark-image" />
                <strong style="color: green">User and ChatGPT Correct Answers Match!</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  

  <mat-card class="full-screen-card">
    <mat-card-header>
      <mat-card-title>Questions History</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <div class="card-container">
        <div class="history-list">
          <div
            *ngFor="let historyItem of userQuestionsHistory"
            class="history-item"
          >
            <div class="question-details">
              <p>
                <strong>Question:</strong>
                {{ historyItem.question.questionText }}
              </p>
              <p>
                <strong>Category:</strong>
                {{ historyItem.question.category.name }}
              </p>
              <p>
                <strong>Answer Date:</strong>
                {{ historyItem.answerDate | date : "yyyy-MM-dd HH:mm:ss" }}
              </p>
              <p>
                <strong>Correct Answer:</strong>
                {{ historyItem.question.correctAnswer }}
              </p>
              <p><strong>User Answer:</strong> {{ historyItem.userAnswer }}</p>
              <p
                *ngIf="historyItem.correct; else incorrectAnswer"
                class="correct-answer"
              >
                Correct
              </p>
              <ng-template #incorrectAnswer>
                <p class="incorrect-answer">Incorrect</p>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="chart-section">
    <div id="chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [labels]="chartOptions.labels"
        [responsive]="chartOptions.responsive"
      ></apx-chart>
    </div>
  </div>
</div>
