.answers {
    display: flex;
    flex-direction: column;
  }
  
  .answers mat-checkbox {
    margin-bottom: 8px; /* Adjust as needed */
  }
  .create-quest-button{
    margin-top: 20px;
  }

  .mat-select{
    margin-left: 1.5rem;
  }

  .icon-clear{
    margin-left: 0.5rem;
  }