<mat-form-field>
  <mat-label>Select Category</mat-label>
  <mat-select [formControl]="selectedCategory" multiple>
    <mat-select-trigger>
      {{ selectedCategory.value?.[0]?.name || '' }}
      <span
        *ngIf="selectedCategory.value && selectedCategory.value.length > 1"
        class="additional-selection"
      >
        (+{{ selectedCategory.value.length - 1 }}
        {{ selectedCategory.value.length === 2 ? "other" : "others" }})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let category of categories" [value]="category">
      {{ category.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="mat-select">
  <mat-label>Select Difficulty</mat-label>
  <mat-select [formControl]="selectedDifficulty">
    <mat-option value="easy">Easy</mat-option>
    <mat-option value="medium">Medium</mat-option>
    <mat-option value="hard">Hard</mat-option>
  </mat-select>
</mat-form-field>
<button
  *ngIf="selectedDifficulty.value || selectedCategory.value"
  mat-icon-button
  matSuffix
  class="icon-clear"
  (click)="clearSelections()"
>
<mat-icon aria-label="Clear" [style.color]="'red'">clear</mat-icon>
</button>

<div class="container">
  <div class="row">
    <div class="col-md-8 mr-5">
      <!-- Adjust the column size according to your preference -->
      <div *ngIf="questionsList.length > 0" class="question-row">
        <div class="mb-4">
          <h1>
            {{ questionsList[currentQuestionIndex]?.questionText }}
            <span class="text-muted small">
              Threshold: {{ questionsList[currentQuestionIndex]?.threshold }}
            </span>
          </h1>
        </div>

        <div class="answers" style="font-size: 1.5em">
          <mat-checkbox
            *ngFor="let answer of questionsList[currentQuestionIndex]?.answers"
            [value]="answer"
            [id]="answer"
            [name]="questionsList[currentQuestionIndex]?.id"
          >
            {{ answer }}
          </mat-checkbox>
        </div>
      </div>
    </div>
    <button
      type="submit"
      class="create-quest-button"
      (click)="nextQuestion()"
      mat-raised-button
      color="primary"
    >
      Next question
    </button>
  </div>
</div>
