<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <img
        mat-card-avatar
        src="https://cdn-icons-png.freepik.com/512/2762/2762403.png"
        alt="Quiz Image"
      />
      <mat-card-title style="margin-left: 3rem; margin-bottom: 1rem">
        {{ 'quiz.title' | translate }}
      </mat-card-title>
      <mat-card-subtitle style="margin-bottom: 1.5rem; font-size: 1rem">
        {{ 'quiz.subtitle' | translate }}
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field style="margin-left: 0.5rem; margin-top: 0.5rem">
      <mat-label>{{ 'quiz.selectCategory' | translate }}</mat-label>
      <mat-select
        [formControl]="selectedCategory"
        (selectionChange)="onSelectionChange($event)"
      >
        <mat-option [value]="null">{{ 'quiz.none' | translate }}</mat-option>
        <mat-option *ngFor="let category of categories" [value]="category.name">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="mat-select">
      <mat-label>{{ 'quiz.selectDifficulty' | translate }}</mat-label>
      <mat-select
        [formControl]="selectedDifficulty"
        (selectionChange)="onSelectionChange($event)"
      >
        <mat-option [value]="null">{{ 'quiz.none' | translate }}</mat-option>
        <mat-option value="Easy">{{ 'quiz.difficulty.easy' | translate }}</mat-option>
        <mat-option value="Medium">{{ 'quiz.difficulty.medium' | translate }}</mat-option>
        <mat-option value="Hard">{{ 'quiz.difficulty.hard' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button
      *ngIf="selectedDifficulty.value || selectedCategory.value"
      mat-icon-button
      matSuffix
      class="icon-clear"
      (click)="clearSelections()"
    >
      <mat-icon aria-label="Clear" [style.color]="'red'">clear</mat-icon>
    </button>

    <div class="container questions">
      <div class="row">
        <div class="col-md-8 mr-5">
          <form [formGroup]="answerForm">
            <div *ngIf="questionsList.length > 0" class="question-row">
              <h2 style="display: inline-block">
                <div [style.backgroundColor]="questionsList[currentQuestionIndex]?.category.color" class="category-point"></div>

                {{ questionsList[currentQuestionIndex]?.questionText }}
              </h2>
              <span
                class="text-muted small threshold"
                style="display: inline-flex; align-items: center; font-size: 18px;"
              >
                <img
                  src="../../../assets/trophy.png"
                  alt="image"
                  style="width: 30px; height: 30px; margin-right: 10px"
                />
                {{ 'quiz.threshold' | translate }}:
                {{ questionsList[currentQuestionIndex]?.threshold }}
              </span>
              <span
                class="text-muted small threshold"
                style="display: inline-flex; align-items: center; font-size: 18px;"
              >
                <img
                  src="../../../assets/token.png"
                  alt="image"
                  style="width: 30px; height: 30px; margin-right: 10px"
                />
                {{ 'quiz.tokens' | translate }}:
                {{ questionsList[currentQuestionIndex]?.questRewardTokens }}
              </span>

              <div class="answers">
                <div
                  *ngFor="let answer of questionsList[currentQuestionIndex]?.answers"
                >
                  <mat-checkbox
                    [checked]="answer === selectedAnswer"
                    (change)="updateSelectedAnswer(answer)"
                    [id]="answer"
                    [name]="questionsList[currentQuestionIndex]?.id"
                  >
                    <div style="font-size: 18px">
                      {{ answer }}
                    </div>
                  </mat-checkbox>
                </div>
              </div>
            </div>
          </form>
          <div *ngIf="showNoQuestionsMessage" class="no-questions-message">
            <p>{{ 'quiz.noMoreQuestions' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <div class="button-container">
    <button
      type="submit"
      class="submit-button"
      [disabled]="!selectedAnswer"
      mat-raised-button
      color="primary"
      (click)="submitAnswer()"
    >
      {{ 'quiz.submit' | translate }}
    </button>
    <button
      type="button"
      class="create-quest-button"
      mat-raised-button
      color="primary"
      (click)="backQuestion()"
    >
      {{ 'quiz.backQuestion' | translate }}
    </button>
    <button
      type="button"
      class="create-quest-button"
      mat-raised-button
      color="primary"
      (click)="nextQuestion()"
    >
      {{ 'quiz.nextQuestion' | translate }}
    </button>
  </div>
</mat-card>
