.answers {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.answers mat-checkbox {
  margin-bottom: 8px;
}

.create-quest-button {
  margin-top: 20px;
  margin-left: 3rem;
}

.submit-button {
  margin-top: 20px;
}

.mat-select {
  margin-left: 1.5rem;
}

.icon-clear {
  margin-left: 0.5rem;
}

.questions {
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}

.threshold {
  display: inline-block;
  margin-left: 2rem;
  font-size: 1rem;
  margin-top: 1rem;
}
.example-card {
  width: 1050px;
  height: 580px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc; 
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); 
}

.category-point {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px; 
}

.mat-card-content {
  flex-grow: 1;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  margin-top: auto;
}

.create-quest-button {
  margin-left: 1rem;
}

img[mat-card-avatar] {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}

mat-card-title-group {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

mat-card-title,
mat-card-subtitle {
  margin-left: 8px;
  margin-right: 8px;
}
