<div class="container">
  <h1>General Culture Quiz</h1>
  <p>Welcome to our quiz! Answer the following questions to earn tokens.</p>
  <table>
    <thead style="position: sticky; top: 0">
      <tr>
        <th>Question</th>
        <th>Tokens Earned</th>
        <th>Difficulty</th>
        <th>Threshold</th>
        <th>Answer</th>
        <th>Submit answer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quest of questList">
        <td>{{ quest.description }}</td>
        <td>{{ quest.questRewardTokens }}</td>
        <td>{{ quest.difficulty }}</td>
        <td>{{ quest.threshold }}</td>
        <td>
          <input
            placeholder="Type your answer here"
            class="name"
            type="text"
            id="name"
            name="name"
            #answer1
          />
          <span
            class="good"
            *ngIf="checkAnswer(answer1.value, quest.answer ? quest.answer : '')"
          >
            Congratulations, you answered correctly!
            <button
              class="reward"
              *ngIf="!quest.rewarded"
              (click)="resolveQuest(quest.id, userId)"
            >
              Get reward
            </button>
          </span>
          <span
            class="wrong"
            *ngIf="
              !checkAnswer(answer1.value, quest.answer ? quest.answer : '') &&
              answer1.value
            "
          >
            Incorrect answer!
          </span>
        </td>
        <td>
          <button
            [disabled]="quest.rewarded"
            class="submitanswer"
            (click)="
              checkAnswer(answer1.value, quest.answer ? quest.answer : '')
            "
          >
            Submit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div></div>
</div>
