@use "@angular/material" as mat;
@import "ngx-toastr/toastr";
@import "/node_modules/flag-icons/css/flag-icons.min.css";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "ngx-toastr/toastr-bs5-alert";
@include mat.core();
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "media";
$AccesaWeb-primary: mat.define-palette(mat.$indigo-palette);
$AccesaWeb-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$AccesaWeb-warn: mat.define-palette(mat.$red-palette);
:root {
  --application-margin-top: 50px;
  --darkmatter: #34495e;
  --darkermatter: #2c3e50;
  --greenapple: #2ecc71;
  --greyapple: #ecf0f1;
}
$AccesaWeb-theme: mat.define-light-theme(
  (
    color: (
      primary: $AccesaWeb-primary,
      accent: $AccesaWeb-accent,
      warn: $AccesaWeb-warn,
    ),
  )
);
@include mat.all-component-themes($AccesaWeb-theme);

.aa {
  background-image: url("../src/assets/login2.png");
  background-color: black;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3a54bd;
  border-radius: 10px;
}
